/*global*/

body{
    font-family: arial;
}

/*main*/

.results-zone{
    background-color: #dedede;
    width: 300px;
    height: 200px;
    text-align: center;
}

#result{
    font-size: 50px;
}
#total, #temp, #temp1{
    font-size: 50px;
}
.alert-error{
    color: red;
}

h1{
    margin-left: 45px;
}